
<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.text_field :title %></h3>
  <h3>is an <span class="bulb_type">SERVICE</span> that helps</h3>
  <h3><%= f.text_field :target %></h3>
  <h3><%= f.text_area(:description, :class => "text_area_small") %></h3>
  <%= f.submit("CREATE BULB", :class => "submit_button") %>
<% end %>
