
<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= f.text_field(:title, :class => "comment_input",:placeholder => "NAME YOUR BULB (eg. BULBZ)") %></h4>
  <h4>is a <span class="bulb_type">SHOP</span> that sells</h4>
  <h4><%= f.text_area(:description, :class => "text_area_small2", :placeholder => "Decribe what the shop sells in your own words.") %></h4>
  <h4>to</h4>
  <h4><%= f.text_field(:target, :class => "comment_input", :placeholder => "DEFINE AN AUDIENCE (eg. IDEA JUNKIES)") %></h4>
  <%= f.submit("CREATE BULB", :class => "submit_button comment_button") %>
<% end %>
