
<div class="">

<div class="grid">
<div class="grid-sizer"></div>
<% @bulbs.reverse.each do |bulb| %>

  <% if bulb.category == "app" %>

    <div class="grid-item">

      <% if bulb.picture != nil %>
      <div class="row bulb_hl" style="padding-top: 10px">
        <img src="<%= bulb.picture %>" width="100%">
      </div>
      <% end %>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is an</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color"><span>APP</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that helps</h4>
        <h4 class="index_mega_light"><span ><%= bulb.target %></span></h4>
        <h4 style="margin: 20px 0px 0px 0px;"><%= bulb.description %></h4>
      </div>


    </div>


  <% end %>

  <% if bulb.category == "service" %>

    <div class="grid-item">

      <% if bulb.picture != nil %>
      <div class="row bulb_hl" style="padding-top: 10px">
        <img src="<%= bulb.picture %>" width="100%">
      </div>
      <% end %>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color_service"><span>SERVICE</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that helps</h4>
        <h4 class="index_mega_light"><span ><%= bulb.target %></span></h4>
        <h4 style="margin: 20px 0px 0px 0px;"><%= bulb.description %></h4>
      </div>


    </div>


  <% end %>

<% if bulb.category == "shop" %>

    <div class="grid-item">

      <% if bulb.picture != nil %>
      <div class="row bulb_hl" style="padding-top: 10px">
        <img src="<%= bulb.picture %>" width="100%">
      </div>
      <% end %>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color_shop"><span>SHOP</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that sells</h4>
        <h4 class="index_mega_light" style="margin: 20px 0px 0px 0px;"><%= bulb.description %></h4>
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 20px">to</h4>
        <h4 class="index_mega_light"><span ><%= bulb.target %></span></h4>

      </div>


    </div>


  <% end %>


<% if bulb.category == "platform" %>

<div class="grid-item">

      <% if bulb.picture != nil %>
      <div class="row bulb_hl" style="padding-top: 10px">
        <img src="<%= bulb.picture %>" width="100%">
      </div>
      <% end %>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 0px; text-align: center" class="index_mega"><span style="width: 100%"><%= bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px;">
            <h4 style="margin-bottom: 0px; padding-top: 30px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-left: 0px; padding-right: 0px;">
            <h4 style="margin-bottom: 0px; margin-top: 20px;" class="index_mega_color_platform"><span>PLATFORM</span></h4>
          </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 0px">that connects</h4>
        <h4 class="index_mega_light"><span ><%= bulb.target1 %></span></h4>
        <h4 style="margin-bottom: 20px; padding-top: 10px; margin-top: 0px">and</h4>
        <h4 class="index_mega_light" style="margin: 20px 0px 0px 0px;"><%= bulb.target2 %></h4>
      </div>


    </div>



  <% end %>


<% end %>


</div>


</div>







<div class="fut" style="display: none">

<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>What</th>
      <th>Forwhom</th>
      <th>Why</th>
      <th>Need</th>
      <th>Category</th>
      <th>Private</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulbs.each do |bulb| %>
      <tr>
        <td><%= bulb.user_id %></td>
        <td><%= bulb.title %></td>
        <td><%= bulb.what %></td>
        <td><%= bulb.forwhom %></td>
        <td><%= bulb.why %></td>
        <td><%= bulb.need %></td>
        <td><%= bulb.category %></td>
        <td><%= bulb.private %></td>
        <td><%= link_to 'Show', bulb %></td>
        <td><%= link_to 'Edit', edit_bulb_path(bulb) %></td>
        <td><%= link_to 'Destroy', bulb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<script type="text/javascript">

$(function() {

var $grid = $('.grid').imagesLoaded( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer'

  });
});

});

</script>




