
<% bulb_creator = User.find_by(:id => @bulb.user.id) %>

<div class="row">


<div class="col-sm-12">
<!-- <span><p style="text-align: center"><img src="<%= bulb_creator.profile_picture %>" width="30px" class="img img-circle"> <%= bulb_creator.name %>'s</p></span> -->
<h1 style="font-family: 'Mr Dafoe', cursive; font-size: 120px; letter-spacing: 1px; text-align: center; padding: 0px 60px 0px 60px; font-weight: bolder; margin-top: 0px; margin-bottom: 0px; line-height: 130px; color: white"><%= @bulb.title %></h1>

</div>

</div>


<div class="row" style="margin-top: 30px">





  <% if @bulb.category == "app" %>

    <div class="col-sm-6 grid-item2">




      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is an</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color"><span>APP</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that helps</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target %></span></h4>
        <h4 style="margin: 20px 0px 0px 0px;"><%= @bulb.description %></h4>
      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>



      <div class="row bulb_hl" style="padding: 40px 20px 20px 20px;">
        <div class="row bulb_user_info">
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-share-alt fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
              <i class="fa fa-commenting-o fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-lightbulb-o fa-2x"></i>
          </div>

        </div>
      </div>

      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>



    </div>


  <% end %>

  <% if @bulb.category == "service" %>

    <div class="col-sm-6 grid-item2">



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color_service"><span>SERVICE</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that helps</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target %></span></h4>
        <h4 style="margin: 20px 0px 0px 0px;"><%= @bulb.description %></h4>
      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>

            <div class="row bulb_hl" style="padding: 40px 20px 20px 20px;">
        <div class="row bulb_user_info">
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-share-alt fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
              <i class="fa fa-commenting-o fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-lightbulb-o fa-2x"></i>
          </div>

        </div>
      </div>

      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>


    </div>


  <% end %>

<% if @bulb.category == "shop" %>

    <div class="col-sm-6 grid-item2">



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color_shop"><span>SHOP</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that sells</h4>
        <h4 class="index_mega_light" style="margin: 20px 0px 0px 0px;"><%= @bulb.description %></h4>
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 20px">to</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target %></span></h4>

      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>

      <div class="row bulb_hl" style="padding: 40px 20px 20px 20px;">
        <div class="row bulb_user_info">
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-share-alt fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
              <i class="fa fa-commenting-o fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-lightbulb-o fa-2x"></i>
          </div>

        </div>
      </div>

      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>

    </div>


  <% end %>


<% if @bulb.category == "platform" %>

<div class="col-sm-6 grid-item2">



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 0px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px;">
            <h4 style="margin-bottom: 0px; padding-top: 30px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-left: 0px; padding-right: 0px;">
            <h4 style="margin-bottom: 0px; margin-top: 20px;" class="index_mega_color_platform"><span>PLATFORM</span></h4>
          </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 0px">that connects</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target1 %></span></h4>
        <h4 style="margin-bottom: 20px; padding-top: 10px; margin-top: 0px">and</h4>
        <h4 class="index_mega_light" style="margin: 20px 0px 0px 0px;"><%= @bulb.target2 %></h4>
      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>

            <div class="row bulb_hl" style="padding: 40px 20px 20px 20px;">
        <div class="row bulb_user_info">
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-share-alt fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
              <i class="fa fa-commenting-o fa-2x"></i>
          </div>
          <div class="col-xs-4" style="padding-top: 0px; color: grey; text-align: center;">
            <i class="fa fa-lightbulb-o fa-2x"></i>
          </div>

        </div>
      </div>

      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>


    </div>



  <% end %>

  <div class="col-sm-6 grid-item2">

    <div class="row bulb_hl" style="margin-bottom: 30px;">
      <div class="col-sm-4 bulb_performance ">
        <i class="fa fa-commenting-o fa-4x"></i>
        <h4><%= @bulb.comments.count %> COMMENTS</h4>
      </div>
      <div class="col-sm-4 bulb_performance ">
        <i class="fa fa-retweet fa-4x"></i>
        <h4>14 REBULBS</h4>
      </div>
      <div class="col-sm-4 bulb_performance">
        <i class="fa fa-lightbulb-o fa-4x"></i>
        <h4>14 LOVEBULBS</h4>
      </div>
   </div>

   <div class="row bulb_hl" style="margin-bottom: 30px;">

    <p style=""><strong>AI KEYWORDS</strong></p>

    <p>
    <% @keywords.each do |keyword| %>
      <span style="color: white; background-color: black; padding: 5px;"><%= keyword.content %></span>
    <% end %>
    </p>

   </div>

    <% if @bulb.picture != nil %>
      <p><strong>PICTURES AND SCRIBBLES</strong> </p>
      <div class="row bulb_hl" style="padding-top: 0px">
        <img src="<%= @bulb.picture %>" width="100%">
      </div>
    <% end %>



  </div>








</div>






<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bulb.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bulb.title %>
</p>

<p>
  <strong>What:</strong>
  <%= @bulb.what %>
</p>

<p>
  <strong>Forwhom:</strong>
  <%= @bulb.forwhom %>
</p>

<p>
  <strong>Why:</strong>
  <%= @bulb.why %>
</p>

<p>
  <strong>Need:</strong>
  <%= @bulb.need %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bulb.category %>
</p>

<p>
  <strong>Private:</strong>
  <%= @bulb.private %>
</p>

<%= link_to 'Edit', edit_bulb_path(@bulb) %> |
<%= link_to 'Back', bulbs_path %>
