
<% bulb_creator = User.find_by(:id => @bulb.user.id) %>

<div class="row">


<div class="col-sm-12">
<!-- <span><p style="text-align: center"><img src="<%= bulb_creator.profile_picture %>" width="30px" class="img img-circle"> <%= bulb_creator.name %>'s</p></span> -->
<h1 style="font-family: 'Mr Dafoe', cursive; font-size: 120px; letter-spacing: 1px; text-align: center; padding: 0px 60px 0px 60px; font-weight: bolder; margin-top: 0px; margin-bottom: 0px; line-height: 130px; color: white"><%= @bulb.title %></h1>

</div>

</div>


<div class="row" style="margin-top: 30px">





  <% if @bulb.category == "app" %>

    <div class="col-sm-6 grid-item2">






      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is an</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color"><span>APP</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that helps</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target %></span></h4>
        <h4 style="margin: 20px 0px 0px 0px;"><%= @bulb.description %></h4>
      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>





      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>



    </div>


  <% end %>

  <% if @bulb.category == "service" %>

    <div class="col-sm-6 grid-item2">



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color_service"><span>SERVICE</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that helps</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target %></span></h4>
        <h4 style="margin: 20px 0px 0px 0px;"><%= @bulb.description %></h4>
      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>



      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>


    </div>


  <% end %>

<% if @bulb.category == "shop" %>

    <div class="col-sm-6 grid-item2">



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 20px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px">
            <h4 style="margin-bottom: 0px; padding-top: 15px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-right: 0px" >
            <h4 style="margin-bottom: 0px; margin-top: 0px;" class="index_mega_color_shop"><span>SHOP</span></h4>
          </div>
      </div>



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 10px">that sells</h4>
        <h4 class="index_mega_light" style="margin: 20px 0px 0px 0px;"><%= @bulb.description %></h4>
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 20px">to</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target %></span></h4>

      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>



      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>

    </div>


  <% end %>


<% if @bulb.category == "platform" %>

<div class="col-sm-6 grid-item2">



      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <div class="col-xs-12" style="padding: 0px;">
          <h4 style="margin-bottom: 0px; text-align: center" class="index_mega"><span style="width: 100%"><%= @bulb.title %></span></h4>
<!--           <img src="http://40.media.tumblr.com/4acc2a446cc63f3a52353a6c673391b1/tumblr_nm6y9hzrla1roigg6o1_1280.png" width="100%" style="margin-bottom: 20px;"> -->
        </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px">
          <div class="col-xs-3" style="padding-left: 0px;">
            <h4 style="margin-bottom: 0px; padding-top: 30px;">is a</h4>
          </div>
          <div class="col-xs-9" style="padding-left: 0px; padding-right: 0px;">
            <h4 style="margin-bottom: 0px; margin-top: 20px;" class="index_mega_color_platform"><span>PLATFORM</span></h4>
          </div>
      </div>

      <div class="row bulb_hl" style="padding-top: 0px; padding-bottom: 0px">
        <h4 style="margin-bottom: 20px; padding-top: 0px; margin-top: 0px">that connects</h4>
        <h4 class="index_mega_light"><span ><%= @bulb.target1 %></span></h4>
        <h4 style="margin-bottom: 20px; padding-top: 10px; margin-top: 0px">and</h4>
        <h4 class="index_mega_light" style="margin: 20px 0px 0px 0px;"><%= @bulb.target2 %></h4>
      </div>

      <div class="row bulb_hl" style="display: none">
          <h4 style="margin: 10px 0px 10px 0px;">AI Tags</h4>

          <% keywords = Keyword.where(:bulb_id => @bulb.id) %>
          <h5>
          <% keywords.each do |keyword| %>
            <a href=""><span class="keytag"><%= keyword.content %></span></a>
          <% end %>
          </h5>
      </div>



      <div class="row bulb_hl" style="margin-top: 15px">
        <%= render 'comment_form' %>
      </div>


    </div>



  <% end %>

  <div class="col-sm-6 grid-item2">

    <div class="row bulb_hl" style="margin-bottom: 30px;">
      <div class="col-sm-4 bulb_performance ">
        <i class="fa fa-commenting-o fa-4x" style="color: grey"></i>
        <h4><%= @bulb.comments.count %> COMMENTS</h4>
      </div>
      <div class="col-sm-4 bulb_performance ">
        <i class="fa fa-retweet fa-4x" style="color: grey"></i>
        <h4>14 REBULBS</h4>
      </div>
      <div class="col-sm-4 bulb_performance">
        <i class="fa fa-lightbulb-o fa-4x" style="color: grey"></i>
        <h4>14 LOVEBULBS</h4>
      </div>
   </div>

  <div class="row bulb_hl" style="padding: 0px 20px 20px 20px;">
    <p><strong>BULB CREATOR</strong> </p>
      <% @bulb_creator = User.find_by(:id => @bulb.user.id) %>
        <div class="row bulb_user_info">
          <div class="col-xs-2 comment_user_pic" style="padding-top: 12px">
            <img src="<%= bulb_creator.profile_picture %>" class="img img-circle" width="60">
          </div>
          <div class="col-xs-10" style="padding-top: 25px; padding-left: 15px;">
            <p style="margin-bottom: 0px;"><a href="" style="font-family: 'Montserrat'"><strong><%= @bulb_creator.name %></strong></a></p>
            <p style="margin-top: -7px"><span style="font-size: 10px;"><%= time_ago_in_words(@bulb.created_at) %> ago</span>   </p>
          </div>
        </div>
    </div>



   <div class="row bulb_hl" style="margin-bottom: 30px;">

    <p style=""><strong>AI KEYWORDS<br></strong><span style="font-size: 10px;">Machine learning detection from bulb content and comments (<a href="">MONKEY LEARN</a> API).</span></p>

    <p  style="line-height: 40px;">
    <% @keywords.each do |keyword| %>
      <span style="color: white; background-color: black; padding: 5px;"><%= keyword.content %></span>
    <% end %>
    </p>

   </div>

    <% if @bulb.picture != nil %>

        <p style=""><strong>PICTURES AND SCRIBBLES<br></strong><span style="font-size: 10px;">At the moment Bulbz hits the <a href="">UNSPLASH</a> API with a keyword from the description and chooses a random free stock picture from their amazing platform. <br> The option to add pictures and scribbles manually is coming soon.</span></p>
      <div class="row bulb_hl" style="padding-top: 0px; padding-left: 15px; padding-right: 15px">
        <img src="<%= @bulb.picture %>" width="100%">
      </div>
    <% end %>



  </div>








</div>






<
