<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.text_field :title %></h3>
  <h3>is an <span class="bulb_type">APP</span> that helps</h3>
  <h3><%= f.text_field :target %></h3>
  <h3><%= f.text_area(:description, :class => "text_area_small") %></h3>
  <%= f.submit("CREATE APP BULB", :class => "submit_button") %>


<!--   <div class="field">
    <%= f.label :title %><br>

  </div>
  <div class="field">
    <%= f.label :target %><br>

  </div>
  <div class="field">
    <%= f.label :description %><br>

  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
