<!DOCTYPE html>
<html>
<head>
  <title>Bulbz1</title>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>



<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>



</head>
<body>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="padding: 20px;">
                <li class="sidebar-brand">
                    <a href="#" style="font-family: 'Courier', cursive; font-size: 40px; letter-spacing: 1px">
                        bulbz.io <!-- <i class="fa fa-lightbulb-o"></i> -->
                    </a>
                </li>
                <li style="margin-top: 0px;">
                    <a href="/bulbs">All blbz(<%= Bulb.all.count %>)</a>
                </li>
                <li>
                   <a href="/apps">All apps(<%= App.all.count %>)</a>
                </li>
                <li>
                   <a href="/platforms">All platforms(<%= Platform.count %>)</a>
                </li>
                <li>
                    <a href="#">Your public blbz</a>
                </li>
                                <li>
                    <a href="#">Your private blbz</a>
                </li>

                <li>
                  <%= link_to 'New Bulb', new_bulb_path %>
                </li>

                <li>
                  <%= link_to 'New App', new_app_path %>
                </li>

                <li>
                  <%= link_to 'New Platform', new_platform_path %>
                </li>
                <li>
                  <%= link_to 'New Service', new_service_path %>
                </li>
                                <li>
                  <%= link_to 'New Shop', new_shop_path %>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="" style="padding: 0px 30px 80px 30px;">
                        <%= yield %>
<!--                         <a href="#menu-toggle" class="" id="menu-toggle">Toggle Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

</body>
</html>
