<!DOCTYPE html>
<html>
<head>
  <title>Bulbz1</title>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>



<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Just+Another+Hand|Mr+Dafoe' rel='stylesheet' type='text/css'>



</head>
<body>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="padding: 50px 10px 20px 10px;">
              <li>
                <% if current_user.present? %>
                  <img class = "img img-circle" src="<%= current_user.profile_picture %>" style="width: 30%">
                <% else %>
                  <img class = "img img-circle" src="https://s3.eu-central-1.amazonaws.com/mybulbz/icons/bulb1_round.png" style="width: 30%">
                <% end %>
              </li>
                <li class="sidebar-brand" style="text-align: center; padding: 50px 0px 50px 0px">
                    <a href="#" style="font-family: 'Mr Dafoe', cursive; font-size: 80px; letter-spacing: 1px; text-align: center">
                        Bulbz.io <!-- <i class="fa fa-lightbulb-o"></i> -->
                    </a>
                </li>
                <li style="margin-top: 40px;">
                    <a href="/bulbs">All blbz(<%= Bulb.all.count %>)</a>
                </li>
                <li style="">
                   <a href="/apps">All apps(<%= App.all.count %>)</a>
                </li>
                <li style="">
                   <a href="/platforms">All platforms(<%= Platform.count %>)</a>
                </li>
                <li style="">
                    <a href="#">Your public blbz</a>
                </li>
                                <li style="">
                    <a href="#">Your private blbz</a>
                </li>

                <li style="">
                  <%= link_to 'New Bulb', new_bulb_path %>
                </li>

                <li style="">
                  <%= link_to 'New App', new_app_path %>
                </li>

                <li style="">
                  <%= link_to 'New Platform', new_platform_path %>
                </li>
                <li style="">
                  <%= link_to 'New Service', new_service_path %>
                </li>
                                <li style="">
                  <%= link_to 'New Shop', new_shop_path %>
                </li>

                <li>
                <% if current_user %>
                  <div class="row">
                    <div class="col-sm-12">
                      <%= current_user.name %>
                      <%= link_to "Sign Out", signout_path %>
                    </div>
                  </div>

                  <% else %>
                    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
                  <% end %>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">



            <div class="container-fluid">


                <div class="row">

<!--                                         <nav class="navbar navbar-default" id="start_nav">

                                            <div class="navbar-header">
                                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                              </button>
                                            </div>
                                            <div id="navbar" class="collapse navbar-collapse">
                                              <div class="row" style="height: 30px;">
                                                  <div class="col-sm-8"></div>
                                                  <div class="col-sm-4" style="padding-top: 5px;">
                                                      <a href="" style="color: grey;">Facebook Login</a>
                                                  </div>
                                              </div>

                                            </div>

                                        </nav> -->









                    <div class="" style="padding: 30px 30px 80px 30px;">
                        <%= yield %>
<!--                         <a href="#menu-toggle" class="" id="menu-toggle">Toggle Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

</body>
</html>
